body 
{
	background-image: url(img/background.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	margin: 0;
	height: 100%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a
{
	text-decoration: none;
	color: white;
}

a:hover
{
	opacity: 0.5;	
}

header
{
	background-color: rgba(255,255,255,0.7);
	height: 130px;
	font-size: 24px;
	box-shadow: 0px 1px 10px white;
	margin-bottom: 10px;
}

header h1
{
	text-shadow: 0px 2px 2px black;
	text-align: center;
	margin: 0;
	opacity: 0.8;
}

#menu
{
	list-style-type:none;
	text-align:center;
	font-size:1.2em;
	margin-top: 5px;
}

#menu li
{
	display:inline-block;
	margin-right: 12px;
}

#left
{
	background-color: rgba(255,255,255,0.7);
	background-image:url(img/blue_background.jpg);
	width: 25%;
	height:670px;
	float: left;
	margin-left:10px;
	font-size:1.5em;
	text-align:center;
	color:white;
	text-shadow: 0px 2px 2px black;
}

#dollar img
{
width:50%;
margin-top:20px;
}

#dollar img:hover
{
width: 55%;
}

#dollar img:active
{
	width: 60%;	
}

#central
{
	position: absolute;
	background-image:url(img/blue_background.jpg);
	background-repeat:no-repeat;
	left:27%;
	top: 140px;
	bottom: 0%;
	right: 60%;
	width: 44%;
}

aside
{
	background-color: rgba(255,255,255,0.7);
	background-image:url(img/blue_background.jpg);
	margin-right:10px;
	height:600px;
	float: right;
	width: 25%;
	display:inline-block;
	font-size:1.5em;
	text-align:center;
}

aside h1, aside
{
	padding: 10px;	
}

#aside h2, aside
{
	padding: 20px;
	text-shadow: 0px 2px 2px white;
}

#worker
{
	text-align : central;
	
}

#worker img
{
	width : 13%;
	margin-right : 80%;
}

#businessman
{
	text-align : central;
	
}

#businessman img
{
	width : 19%;
	margin-right : 80%;
}

#supermarket
{
	text-align : central;
	
}

#supermarket img
{
	width : 20%;
	margin-right : 80%;
}

#factory
{
	text-align : central;
	
}

#factory img
{
	width : 18%;
	margin-right : 80%;
}

#bank
{
	text-align : central;
	
}

#bank img
{
	width : 12%;
	margin-right : 80%;
}

#mine
{
	text-align : central;
	
}

#mine img
{
	width : 23%;
	margin-right : 80%;
}

#president
{
	text-align : central;
	
}

#president img
{
	width : 15%;
	margin-right : 80%;
}

#antimater
{
	text-align : central;
	
}

#antimater img
{
	width : 15%;
	margin-right : 80%;
}

#save_button
{
	position: absolute;
	background-color: #F60;
	box-shadow: 0px 1px 10px black;
	border-radius: 5px 10px 0 5px;
	font-size:1.5em;
	text-align:center;
	width: 25%;
	margin-top: 20px;
	bottom: 10px;
	color: white;
}

#save_button:hover
{
	background-color:#F30;
}

#save_button:active
{
	background-color: #6C0;
}

#save_button img
{
	width: 20%;
	padding: 10px;
}