body {
	background-image: url(background.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	margin: 0;
	height: 100%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	opacity: 0.5;	
}

header {
	background-color: rgba(255,255,255,0.7);
	height: 130px;
	font-size: 24px;
	box-shadow: 0px 1px 10px white;
	margin-bottom: 10px;
}

#menu
{
	list-style-type:none;
	text-align:center;
	font-size:1.2em;
	margin-top: 5px;
}

#menu li
{
	display:inline-block;
	margin-right: 12px;
}

header h1 {
	text-shadow: 0px 2px 2px black;
	text-align: center;
	margin: 0;
	opacity: 0.8;
}

#left {
	background-color: rgba(255,255,255,0.7);
	box-shadow: 0px 1px 10px white;
	width: 48%;
	float: left;
	margin-left:10px;
	height: 100%;
	font-size:1.5em;
	text-align:center;
	color:black;
}

#left h1, #left p {
	padding: 10px;
	text-shadow: 0px 2px 2px white;
}

aside
{
	background-color: rgba(255,255,255,0.7);
	box-shadow: 0px 1px 10px white;
	width: 48%;
	text-align:center;
	float: right;
	font-size:1.5em;
	text-shadow: 0px 2px 2px white;
	margin-right:10px;
}

aside
{
	padding: 10px;	
}